@charset "UTF-8";
body {
  display: flex;
  width: 100vw;
}
@media all and (min-width: 1080px) {
  body {
    justify-content: start;
  }
}
@media all and (max-width: 1080px) {
  body {
    justify-content: center;
    width: 100vw;
  }
}
body section {
  width: 100%;
}
@media all and (min-width: 1080px) {
  body section {
    width: 100%;
  }
}
body section article {
  width: 100%;
}
body section article:nth-of-type(n + 2) {
  display: none;
}

#calendarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
#calendarHeader #calendarShape {
  margin-left: 8px;
}
#calendarHeader #dateYearAndMonth {
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdca0;
  gap: 4px;
  font-weight: 800;
}
#calendarHeader button {
  outline: 1px solid #666666;
  width: 40px;
  height: 40px;
  background-color: #ffdca0;
}

#calendarShapeTodo {
  max-height: 95vh;
  overflow: scroll;
}
#calendarShapeTodo #todoContainer {
  padding: 10px;
}
#calendarShapeTodo #todoContainer #todoListContainer {
  display: flex;
  flex-flow: nowrap column;
  gap: 8px;
}
#calendarShapeTodo #todoContainer #todoListContainer .todoLegendMonth {
  font-size: 3rem;
}
#calendarShapeTodo #todoContainer #todoListContainer .todoItem {
  min-height: 60px;
  width: calc(100% - 8px);
  outline: solid 1px black;
  padding: 4px;
  border-radius: 10px;
  font-size: 1.6rem;
}
#calendarShapeTodo #todoContainer #todoListContainer .todoItem:hover {
  background: #f0f0f0;
}

#dayOfTheWeekContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
}
#dayOfTheWeekContainer div {
  text-align: center;
  padding: 4px 8px;
  background-color: #ffdcaf;
  font-weight: 600;
  outline: 1px solid #666666;
}
#dayOfTheWeekContainer div:nth-of-type(1) {
  color: red;
}
#dayOfTheWeekContainer div:nth-of-type(7) {
  color: blue;
}

#monthContainer {
  width: 100%;
}
#monthContainer .weekContainer {
  width: 100%;
  min-height: 14.2857142857vh;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(7, 1fr);
}
#monthContainer .weekContainer > button:nth-of-type(7n + 1) {
  color: #ff0000;
}
#monthContainer .weekContainer > button:nth-of-type(7n + 7) {
  color: #0000ff;
}
#monthContainer .weekContainer > button:not(:has(.todoBar:hover)):hover {
  z-index: 10;
  outline: 2px solid black;
}
#monthContainer .weekContainer > button {
  align-items: start;
  background-color: #ffffff;
  font-weight: 600;
  outline: 1px solid #666666;
  font-size: 1.4rem;
  display: flex;
  flex-flow: wrap column;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  position: relative;
  padding: 22px 0px 2px 0px;
}
#monthContainer .weekContainer > button span {
  padding: 2px 4px;
  display: inline-flex;
  justify-content: start;
  border-radius: 20px;
  position: absolute;
  top: 0px;
}
#monthContainer .weekContainer > button .dayContainer {
  display: grid;
  width: 100%;
  align-items: start;
}
#monthContainer .weekContainer > button .todoBar {
  height: 22px;
  z-index: 20;
  border-radius: 8px;
  font-size: 1em;
  color: white;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#monthContainer .weekContainer > button .todoBar:hover {
  outline: 3px solid black;
}

.modal {
  visibility: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#modal {
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  height: 100vh;
  box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
  z-index: 100;
  background-color: white;
  animation: fadeIn 0.5s linear;
}
@media all and (min-width: 1080px) {
  #modal {
    width: 500px;
    position: static;
  }
}
@media all and (max-width: 1080px) {
  #modal {
    width: 300px;
  }
}
#modal #modalHeaderContainer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: sticky;
  top: 0;
  transform: translateZ(0);
  outline: 1px solid black;
  background-color: #f0f0f0;
}
#modal #modalHeaderContainer .modalCloseBtn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10;
  transform: translateZ(0);
}
#modal #modalHeaderContainer .modalCloseBtn div {
  position: absolute;
  width: 32px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  transform: translateZ(0);
}
#modal #modalHeaderContainer .modalCloseBtn div:nth-of-type(1) {
  top: 50%;
  transform: translate(0px, -50%) rotate(405deg);
}
#modal #modalHeaderContainer .modalCloseBtn div:nth-of-type(2) {
  opacity: 0;
  transform: translate(0px, -50%) rotate(360deg);
}
#modal #modalHeaderContainer .modalCloseBtn div:nth-of-type(3) {
  top: 50%;
  transform: translate(0px, -50%) rotate(-405deg);
}

#modalBodyContainer select::-ms-expand {
  display: none;
}
#modalBodyContainer select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 4px 2px;
  width: 80px;
  text-align: center;
}
#modalBodyContainer select option {
  height: 200px;
  overflow: scroll;
}
#modalBodyContainer .inputItem {
  display: flex;
  flex-flow: nowrap column;
  padding: 10px 4px;
  gap: 10px;
  font-size: 1.6rem;
  z-index: 30;
}
#modalBodyContainer .inputItem > span {
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  flex-flow: nowrap row;
  align-items: center;
}
#modalBodyContainer .inputItem #inputItemTitleErrorMsg,
#modalBodyContainer .inputItem #inputItemContentErrorMsg,
#modalBodyContainer .inputItem #inputItemDateErrorMsg {
  color: red;
  font-size: 1rem;
  padding-left: 4px;
}
#modalBodyContainer .inputItem input {
  height: 40px;
  padding-left: 8px;
  background: none;
  box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
  border-radius: 10px;
}
#modalBodyContainer .inputItem input::placeholder {
  color: rgba(51, 51, 51, 0.6);
  font-weight: 800;
  padding: 4px;
  font-size: 1.2rem;
}
#modalBodyContainer .inputItem input:focus::placeholder {
  font-size: 10px;
  transform: translate(-6px, -10px);
}
#modalBodyContainer .inputItem textarea {
  min-height: 100px;
  width: calc(100% - 16px);
  background: none;
  box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
  border-radius: 10px;
  border: none;
  resize: none;
  padding: 8px;
}
#modalBodyContainer .inputItem textarea::placeholder {
  color: rgba(51, 51, 51, 0.6);
  font-weight: 800;
  padding: 4px;
  font-size: 1.2rem;
}
#modalBodyContainer .inputItem:nth-of-type(2) > span {
  display: flex;
  flex-flow: nowrap column;
  align-items: start;
}
#modalBodyContainer #colorContainer {
  display: flex;
  gap: 20px;
  flex-flow: wrap row;
  padding: 8px;
  width: calc(100% - 16px);
  background-color: white;
}
#modalBodyContainer #colorContainer input[type=radio] {
  appearance: none;
  box-shadow: none;
  width: 40px;
  aspect-ratio: 1;
  background-color: red;
}
#modalBodyContainer #colorContainer input[type=radio] {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  opacity: 0.5;
}
#modalBodyContainer #colorContainer input[type=radio]:checked {
  outline: 4px solid black;
  outline-offset: 2px;
  opacity: 1;
}
#modalBodyContainer #colorContainer input[type=radio]:nth-of-type(1) {
  background-color: #ff0000;
}
#modalBodyContainer #colorContainer input[type=radio]:nth-of-type(2) {
  background-color: #0000ff;
}
#modalBodyContainer #colorContainer input[type=radio]:nth-of-type(3) {
  background-color: #ffa500;
}
#modalBodyContainer #colorContainer input[type=radio]:nth-of-type(4) {
  background-color: #008000;
}
#modalBodyContainer #colorContainer input[type=radio]:nth-of-type(5) {
  background-color: #800080;
}
#modalBodyContainer #colorContainer input[type=radio]:nth-of-type(6) {
  background-color: #7fffd4;
}
#modalBodyContainer #colorContainer input[type=radio]:nth-of-type(7) {
  background-color: #ff6347;
}
#modalBodyContainer #colorContainer input[type=radio]:nth-of-type(8) {
  background-color: #d2691e;
}

.modalBtnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 10px 4px;
}
.modalBtnContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: none;
  box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
  border-radius: 10px;
}

.isTodoBarIntro {
  display: none;
}

#todoBarIntroContainerOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: none;
  z-index: 50;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer {
  width: 300px;
  max-width: 60vw;
  height: 140px;
  display: grid;
  grid-template-rows: 40px 100px;
  position: fixed;
  z-index: 52;
  background-color: white;
  outline: solid 1px #333333;
  font-size: 1.6rem;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer header {
  display: flex;
  justify-content: right;
  gap: 8px;
  padding-right: 4px;
  background-color: rgba(240, 240, 240, 0.9411764706);
}
#todoBarIntroContainerOverlay #todoBarIntroContainer header input[type=checkbox] {
  width: 24px;
  height: 24px;
  align-self: center;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer header img {
  width: 24px;
  height: 24px;
  position: relative;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer header button::before {
  content: attr(data-tooltip);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 7px;
  border-radius: 10px;
  top: 40px;
  opacity: 0; /* 기본 상태는 안보이게 */
  transition: all 0.5s linear; /* 나타났다 사라지는 애니메이션 */
}
#todoBarIntroContainerOverlay #todoBarIntroContainer header button:nth-of-type(1)::before {
  right: 60px;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer header button:nth-of-type(2)::before {
  right: 30px;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer header button:nth-of-type(3)::before {
  right: 0px;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer header button:hover::before {
  opacity: 1;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer section {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer section div {
  display: flex;
  align-items: center;
  padding-left: 8px;
}
#todoBarIntroContainerOverlay #todoBarIntroContainer section #todoBarIntroDate {
  font-size: 1.2rem;
}

/*# sourceMappingURL=app.css.map */
