body {
  display: flex;
  width: 100vw;

  @media all and (min-width: 1080px) {
    justify-content: start;
  }
  @media all and (max-width: 1080px) {
    justify-content: center;
    width: 100vw;
  }

  section {
    width: 100%;

    @media all and (min-width: 1080px) {
      width: 100%;
    }

    article {
      width: 100%;
    }
  }
}

#calendarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  #dateYearAndMonth {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdca0;
    gap: 4px;
    font-weight: 800;
  }

  button {
    outline: 1px solid #666666;
    width: 40px;
    height: 40px;
    background-color: #ffdca0;
  }
}

#dayOfTheWeekContainer {
  display: grid;
  // grid-template-columns: repeat(7, minmax(50px, 150px));
  width: 100%;
  grid-template-columns: repeat(7, 1fr);

  div {
    text-align: center;
    padding: 4px 8px;
    background-color: #ffdcaf;
    font-weight: 600;
    outline: 1px solid #666666;
  }

  div:nth-of-type(1) {
    color: red;
  }
  div:nth-of-type(7) {
    color: blue;
  }
}

#monthContainer {
  // 이거 뭐지?
  // max-height: 60px;
  width: 100%;

  .weekContainer {
    width: 100%;
    // grid-template-columns: repeat(7, minmax(50px, 150px));
    min-height: calc(100vh / 7);
    display: grid;
    align-items: start;
    grid-template-columns: repeat(7, 1fr);
    // height: 100%;

    & > button {
      align-items: start;
      background-color: #ffffff;
      font-weight: 600;
      outline: 1px solid #666666;
      font-size: 1.4rem;
      display: flex;
      flex-flow: wrap column;
      -webkit-tap-highlight-color: transparent;
      height: 100%;
      position: relative;
      padding: 22px 0px 2px 0px;

      span {
        padding: 2px 4px;
        display: inline-flex;
        justify-content: start;
        // background-color: #ffdca0;
        border-radius: 20px;
        position: absolute;
        top: 0px;
      }

      .dayContainer {
        z-index: 10;
        display: grid;
        gap: 2px;
        width: 100%;
        align-items: start;
      }

      .todoBar {
        height: 22px;
        z-index: 20;
        border-radius: 8px;
        font-size: 1em;
        color: white;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .todoBar:hover {
        outline: 3px solid black;
      }
    }

    & > button:nth-of-type(7n + 1) {
      color: #ff0000;
    }
    & > button:nth-of-type(7n + 7) {
      color: #0000ff;
    }
    & > button:not(:has(.todoBar:hover)):hover {
      // box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
      z-index: 3;
      outline: 3px solid black;
    }
  }
}

.modal {
  visibility: hidden;
  // display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  height: 100vh;
  // transform: translate(-50%, 0%);
  box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
  z-index: 100;
  // background: linear-gradient(#e0fffffb, #87ceebfb, #00bffffb);
  background-color: #ffffffff;
  animation: fadeIn 0.5s linear;

  @media all and (min-width: 1080px) {
    width: 500px;
    position: static;
  }
  @media all and (max-width: 1080px) {
    width: 300px;
  }

  #modalHeaderContainer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: sticky;
    top: 0;
    transform: translateZ(0);
    outline: 1px solid black;
    background-color: #f0f0f0ff;

    .modalCloseBtn {
      cursor: pointer;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: 10;
      transform: translateZ(0);

      div {
        position: absolute;
        width: 32px;
        height: 4px;
        background-color: #000;
        border-radius: 4px;
        transform: translateZ(0);
      }

      div:nth-of-type(1) {
        top: 50%;
        transform: translate(0px, -50%) rotate(405deg);
      }

      div:nth-of-type(2) {
        opacity: 0;
        transform: translate(0px, -50%) rotate(360deg);
      }

      div:nth-of-type(3) {
        top: 50%;
        transform: translate(0px, -50%) rotate(-405deg);
      }
    }
  }
}
#modalBodyContainer {
  select::-ms-expand {
    display: none;
  }
  select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 4px 2px;
    width: 80px;
    text-align: center;

    option {
      height: 200px;
      overflow: scroll;
    }
  }
  .inputItem {
    display: flex;
    flex-flow: nowrap column;
    padding: 10px 4px;
    gap: 10px;
    font-size: 1.6rem;
    z-index: 30;

    & > span {
      font-size: 2rem;
      font-weight: 800;
      display: flex;
      flex-flow: nowrap row;
      align-items: center;
    }

    #inputItemTitleErrorMsg,
    #inputItemContentErrorMsg,
    #inputItemDateErrorMsg {
      color: #ff0000ff;
      font-size: 1rem;
      padding-left: 4px;
    }

    input {
      height: 40px;
      padding-left: 8px;
      background: none;
      box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
      border-radius: 10px;

      &::placeholder {
        // transition: all 0.4s ease-in-out;
        color: rgb(51, 51, 51, 0.6);
        font-weight: 800;
        padding: 4px;
        font-size: 1.2rem;
      }
      &:focus::placeholder {
        font-size: 10px;
        transform: translate(-6px, -10px);
      }
    }
    textarea {
      min-height: 100px;
      width: calc(100% - 16px);
      background: none;
      box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
      border-radius: 10px;
      border: none;
      resize: none;
      padding: 8px;

      &::placeholder {
        // transition: all 0.4s ease-in-out;
        color: rgb(51, 51, 51, 0.6);
        font-weight: 800;
        padding: 4px;
        font-size: 1.2rem;
      }
    }
  }
  .inputItem:nth-of-type(2) {
    & > span {
      display: flex;
      flex-flow: nowrap column;
      align-items: start;
    }
  }

  #colorContainer {
    display: flex;
    gap: 20px;
    flex-flow: wrap row;
    padding: 8px;
    width: calc(100% - 16px);
    background-color: white;

    input[type="radio"] {
      appearance: none;
      box-shadow: none;
      width: 40px;
      aspect-ratio: 1;
      background-color: red;
    }

    input[type="radio"] {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      opacity: 0.5;
    }
    input[type="radio"]:checked {
      outline: 4px solid black;
      outline-offset: 2px;
      opacity: 1;
    }
    input[type="radio"]:nth-of-type(1) {
      background-color: #ff0000;
    }
    input[type="radio"]:nth-of-type(2) {
      background-color: #0000ff;
    }
    input[type="radio"]:nth-of-type(3) {
      background-color: #ffa500;
    }
    input[type="radio"]:nth-of-type(4) {
      background-color: #008000;
    }
    input[type="radio"]:nth-of-type(5) {
      background-color: #800080;
    }
    input[type="radio"]:nth-of-type(6) {
      background-color: #7fffd4;
    }
    input[type="radio"]:nth-of-type(7) {
      background-color: #ff6347;
    }
    input[type="radio"]:nth-of-type(8) {
      background-color: #d2691e;
    }
  }
}

.modalBtnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 10px 4px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: none;
    box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
    border-radius: 10px;
  }
}

.isTodoBarIntro {
  display: none;
}

#todoBarIntroContainerOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: none;
  z-index: 50;

  #todoBarIntroContainer {
    width: 300px;
    max-width: 60vw;
    height: 140px;
    display: grid;
    grid-template-rows: 40px 100px;
    position: fixed;
    z-index: 52;
    background-color: #ffffffff;
    outline: solid 1px #333333ff;
    font-size: 1.6rem;

    header {
      display: flex;
      justify-content: right;
      gap: 8px;
      padding-right: 4px;
      background-color: #f0f0f0f0;

      input[type="checkbox"] {
        width: 24px;
        height: 24px;
        align-self: center;
      }

      img {
        width: 24px;
        height: 24px;
        position: relative;
      }

      button::before {
        content: attr(data-tooltip);
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 10px 7px;
        border-radius: 10px;
        top: 40px;
        opacity: 0; /* 기본 상태는 안보이게 */
        transition: all 0.5s linear; /* 나타났다 사라지는 애니메이션 */
      }

      button:nth-of-type(1)::before {
        right: 60px;
      }
      button:nth-of-type(2)::before {
        right: 30px;
      }
      button:nth-of-type(3)::before {
        right: 0px;
      }
      button:hover::before {
        opacity: 1;
      }
    }

    section {
      display: grid;
      grid-template-rows: 1fr 1fr;

      div {
        display: flex;
        align-items: center;
        padding-left: 8px;
      }

      #todoBarIntroContent {
      }

      #todoBarIntroDate {
        font-size: 1.2rem;
      }
    }
  }
}
