section {
  margin: auto;
  max-width: 1200px;

  article {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
  }
}

#calendarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  #dateYearAndMonth {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffdca0;
    gap: 4px;
    font-weight: 800;
  }

  button {
    outline: 1px solid #666666;
    width: 40px;
    height: 40px;
    background-color: #ffdca0;
  }
}

#dayOfTheWeekContainer {
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 150px));

  div {
    text-align: center;
    padding: 4px 8px;
    background-color: #ffdcaf;
    font-weight: 600;
    outline: 1px solid #666666;
  }

  div:nth-of-type(1) {
    color: red;
  }
  div:nth-of-type(7) {
    color: blue;
  }
}

#monthContainer {
  max-height: 60px;

  .weekContainer {
    display: grid;
    height: 100%;
    background-color: red;
    width: 100%;
    grid-template-columns: repeat(7, minmax(50px, 150px));
  }

  .dayContainer {
    display: grid;
    // align-items: start;
    background-color: #ffffff;
    font-weight: 600;
    min-height: 60px;
    outline: 1px solid #666666;
    flex-flow: nowrap column;
    font-size: 2rem;
    gap: 4px;
    -webkit-tap-highlight-color: transparent;
    padding: 0px 0px 4px 0px;

    .todoBar {
      height: 24px;
      z-index: 10;
      border-radius: 8px;
      font-size: 0.6em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .todoBar:hover {
      outline: 3px solid black;
    }

    span {
      padding: 2px 4px;
      display: inline-flex;
      justify-content: start;
      background-color: #ffdca0;
    }
  }

  .dayContainer:nth-of-type(7n + 1) {
    color: #ff0000;
  }
  .dayContainer:nth-of-type(7n + 7) {
    color: #0000ff;
  }

  .dayContainer:not(:has(.todoBar:hover)):hover {
    // box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
    z-index: 3;
    outline: 3px solid black;
  }
}

.modal {
  // visibility: hidden;
  display: none;
}

#modalOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(127, 127, 127, 0.8);
  z-index: 100;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: min(80vw, 600px);
  overflow-y: auto;
  height: min(620px, 90vh);
  transform: translate(-50%, -50%);
  box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
  z-index: 100;
  background: linear-gradient(lightCyan, skyBlue, deepSkyBlue);

  #modalHeaderContainer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    transform: translateZ(0);
    outline: 1px solid black;
    background-color: rgba(240, 240, 240, 1);

    #modalHeaderTitle {
      font-size: 16px;
      font-weight: 800;
      padding-left: 8px;
    }

    .modalCloseBtn {
      cursor: pointer;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      z-index: 10;
      transform: translateZ(0);

      div {
        position: absolute;
        width: 32px;
        height: 4px;
        background-color: #000;
        border-radius: 4px;
        transform: translateZ(0);
      }

      div:nth-of-type(1) {
        top: 50%;
        transform: translate(0px, -50%) rotate(405deg);
      }

      div:nth-of-type(2) {
        opacity: 0;
        transform: translate(0px, -50%) rotate(360deg);
      }

      div:nth-of-type(3) {
        top: 50%;
        transform: translate(0px, -50%) rotate(-405deg);
      }
    }
  }
}
#modalBodyContainer {
  select::-ms-expand {
    display: none;
  }
  select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    width: 80px;
  }
  .inputItem {
    display: flex;
    flex-flow: nowrap column;
    padding: 10px 4px;
    gap: 10px;
    font-size: 1.6rem;
    z-index: 30;

    span:nth-of-type(1) {
      font-size: 2rem;
      font-weight: 800;
    }

    input {
      height: 40px;
      padding-left: 8px;
      background: none;
      box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
      border-radius: 10px;

      &::placeholder {
        // transition: all 0.4s ease-in-out;
        color: rgb(51, 51, 51, 0.6);
        font-weight: 800;
        padding: 4px;
        font-size: 1.2rem;
      }
      &:focus::placeholder {
        font-size: 10px;
        transform: translate(-6px, -10px);
      }
    }
    textarea {
      min-height: 100px;
      width: calc(100% - 16px);
      background: none;
      box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
      border-radius: 10px;
      border: none;
      resize: none;
      padding: 8px;

      &::placeholder {
        // transition: all 0.4s ease-in-out;
        color: rgb(51, 51, 51, 0.6);
        font-weight: 800;
        padding: 4px;
        font-size: 1.2rem;
      }
    }

    textarea:focus {
    }
  }

  #colorContainer {
    display: flex;
    gap: 20px;
    flex-flow: wrap row;
    padding: 8px;
    width: calc(100% - 16px);
    background-color: white;

    input[type="radio"] {
      appearance: none;
      box-shadow: none;
      width: 40px;
      aspect-ratio: 1;
      background-color: red;
    }

    input[type="radio"] {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      opacity: 0.5;
    }
    input[type="radio"]:checked {
      outline: 4px solid black;
      outline-offset: 2px;
      opacity: 1;
    }
    input[type="radio"]:nth-of-type(1) {
      background-color: red;
    }
    input[type="radio"]:nth-of-type(2) {
      background-color: blue;
    }
    input[type="radio"]:nth-of-type(3) {
      background-color: orange;
    }
    input[type="radio"]:nth-of-type(4) {
      background-color: green;
    }
    input[type="radio"]:nth-of-type(5) {
      background-color: purple;
    }
    input[type="radio"]:nth-of-type(6) {
      background-color: aquamarine;
    }
    input[type="radio"]:nth-of-type(7) {
      background-color: tomato;
    }
    input[type="radio"]:nth-of-type(8) {
      background-color: chocolate;
    }
  }
}

.modalBtnContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  padding: 10px 4px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: none;
    box-shadow: -1px -1px 1px 1px black, 1px 1px 1px 1px black;
    border-radius: 10px;
  }
}
